@{
    ViewBag.Title = "Home Page";
}
<div class="" style="background-image: url('../../Images/Common/Background.jpg'); background-position: top; height: 1080px; -ms-opacity: 0.2; opacity: 0.2">
    
</div>

<script>
    $(document).ready(function () {
        var i = 0;
        $('.content-wrapper').each(function() {
            if (i == 1)
            {
                // second element having 'content-wrapper' class is the body's element child
                // removing the elemnt class, it's width will correspond to the device's width
                $(this).removeClass('content-wrapper');
            }
            i++;
        });

    });
</script>